@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/century gothic.ttf');
}
*{
  font-family: 'CenturyGothic';
}
.bg-light{
  background-color: white !important;
}
body{
  background-color: #eee;
}
.container{
  margin-top: 70px;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
li.nav-item.active{
  background-color: green;
}
li.nav-item.active>a.nav-link{
  color:white !important;
}
.description{
  width: 100%;
}
.pict{
  width: 100px;
  height: 100px;
  background-color: pink;
}
.row.home{
  padding: 20px;
}
.footer{
  margin-top: 60px;
  padding: 20px;
  /*background-color: grey;*/
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap:20px;
  grid-template-areas:
  "content-1"
  "content-2"
  "content-3"
}
.content-1{grid-area:content-1;}
.content-2{grid-area:content-2;}
.content-3{grid-area:content-3;}

.content-1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "desc desc pict"
}
.content-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "pict desc desc"
}
.content-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "desc desc pict"
}
.pict{grid-area:pict;align-self: center;justify-self:center}
.desc{grid-area:desc;}

.grid-login{
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap:50px;
  grid-template-areas:
  "login-box"
}
.login-box{grid-area:login-box; align-self: center;justify-self:center; text-align: justify}
.footer-login{grid-area:footer-login}

a.list-group-item.title{
  text-align: center; background-color: #ddd;
}
div.list-group-item.title{
  text-align: left; background-color: #ddd;
}
.menu-sidebar{
  margin-top: 20px;
}

#map{
  width: 100%;
  background-color: pink;
}

.grid-location{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap:20px;
  grid-template-areas:
  "sidebarku contentku contentku"
  "location-info location-info location-info"
}
.sidebarku{grid-area:sidebarku}
.contentku{grid-area:contentku}
.location-info{grid-area:location-info;}

.content-info{
  min-height: 150px;
  background-color: white;
  padding: 10px;
}

.grid-input-data{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "data-lokasi data-lokasi keterangan"
}
.data-lokasi{grid-area:data-lokasi;border: 1px solid #f7f7f7 !important;}
.keterangan{grid-area:keterangan;min-width: 300px;border: 1px solid #ddd !important;}
.panel{
  /*border: 1px solid #e6e6e6 !important;*/
}
.panel-header{
  background-color: #f7f7f7;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
}
.panel-body{
padding: 15px;
background-color: white;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows:1fr;
grid-template-areas:
"data-info upload-foto"
}
.data-info{
  grid-area:data-info;
  padding: 15px;

}
.upload-foto{
  grid-area:upload-foto;
  padding: 15px;
}

.grid-bank-sampah{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  grid-template-areas:
  "ket_bank ket_bank price"
  "jual_beli jual_beli price"
}

.price{grid-area:price;border: 1px solid #e6e6e6; max-height: 320px;background-color: white;}
.jual_beli{grid-area:jual_beli;background-color: white;}
.ket_bank{grid-area:ket_bank; min-height:150px;border: 1px solid #e6e6e6;background-color: white; }

.grid-bank-sampah-0{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  /*grid-template-areas:
  "list_sampah list_sampah list_sampah list_sampah"*/
}
.box-list{}
.grid-bank-sampah-1{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-template-areas:
  "jenis_sampah jenis_sampah jenis_sampah"
}
.jenis_sampah{grid-area:jenis_sampah;}
.list_sampah{grid-area:list_sampah}

.list_sampah{
  grid-gap:20px;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-auto-rows: min-content;
  padding: 10px;
  justify-items:center;
}
.panel-body-bank{
  padding: 15px;
  background-color: white;
}
.box-content{
  border-bottom: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns:200px 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "foto detail-desk bank-exist"
}
.bank-exist{
 grid-area:bank-exist;
 justify-self: center;
 text-align: center;
 align-self: center;
 align-content: center;
}
.count-bank{
  font-size: 4em;
  text-align: center;
}
.box-count{
  background-color: #ddd;
  padding: 15px;
  border-radius: 5px;
}
.foto{
  grid-area:foto;background-color: pink;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.detail-desk{grid-area:detail-desk}
.grid-button{
  padding-bottom: 20px;
  display: grid;
  grid-template-columns:1frpx 1fr;
  grid-template-rows: 1fr;
  grid-gap:20px;
  grid-template-areas:
  "btn-01 btn-02"
}
.btn-01{grid-area:btn-01}
.btn-02{grid-area:btn-02}
.card-img-top{
width:auto;height:180px;background-color:grey;
}

.login-sosmed{
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

.grid-profile{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr;
  grid-gap: 20px;
  grid-template-areas:
  "data-profile notif-transaksi"
  "footer-profile footer-profile"
}
.data-profile{grid-area: data-profile; background-color: white; border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; }
.notif-transaksi{grid-area: notif-transaksi}
.panel-body-profile{
  padding: 15px;
}
.profile-pict{
  width:150px;
  height:150px;
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.font-profile{
  font-size: 14px;
}
.footer-profile{
  padding: 10px;
  border-top: 1px solid #ddd;
  grid-area:footer-profile;
}
.btn.btn-sidebar{
  background-color: transparent;
}
.title-jenis{
  font-weight: bold;
}
table.table-jenis>tbody>tr>td{
  padding: 3px;
}
@media screen and (max-width:1199px) {
  .grid-bank-sampah-0{
    display: grid;
    grid-template-columns:1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
    "jenis_sampah"
    "list_sampah"
  }
  .jenis_sampah{
    min-height: auto;
  }
}
